# Server Configuration
PORT=3000

# Database Configuration (MongoDB Atlas Free Tier connection string)
# Example: mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/uconnect?retryWrites=true&w=majority
MONGODB_URI=

# JSON Web Token Secret Key
JWT_SECRET=uconnect_secret_jwt_key_2025_safe_hash
